<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356525557420-i7c3i3ol7e54kbtk9m728mfv4gr4ackb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356525557420-i7c3i3ol7e54kbtk9m728mfv4gr4ackb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356525557420-br1iplpnjml0giiuq3atcjrtketuba3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX8J4HnYoVHAi0bmhuSZBNpZzf3_gswrA</string>
	<key>GCM_SENDER_ID</key>
	<string>356525557420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajlan.driver</string>
	<key>PROJECT_ID</key>
	<string>ajlan-super-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ajlan-super-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356525557420:ios:4dbd44c54bddbe30b10109</string>
	<key>DATABASE_URL</key>
	<string>https://ajlan-super-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>